### MySQL 연동하기

In [27]:
import pymysql
from db_info import db_info_get

# database 접속 정보 로딩
db_info = db_info_get("stock")

In [135]:
# connect 세팅
db_conn = pymysql.connect(
        host = db_info["host"],
        port = db_info["port"], 
        user = db_info["user"], 
        passwd = db_info["passwd"], 
        db = db_info["db"], 
        charset = db_info["charset"])

# cursor 세팅
cursor = db_conn.cursor(pymysql.cursors.DictCursor)

### Create Table

In [142]:
sql = "CREATE table stock.iris(\
idx_ int(3),\
sepal_length float(3,1),\
sepal_width float(3,1),\
petal_length float(3,1),\
petal_width float(3,1),\
primary KEY(idx_))\
 ENGINE=InnoDB\
 default CHARSET = utf8\
 collate = utf8_general_ci;"

cursor.execute(sql)

#### Select Data

In [144]:
sql_statement = "select * from stock.iris;"
df = pd.read_sql(sql_statement , db_conn)
df.head()

   idx_  sepal_length  sepal_width  petal_length  petal_width
0     0           5.1          3.5           1.4          0.2
1     1           4.9          3.0           1.4          0.2
2     2           4.7          3.2           1.3          0.2
3     3           4.6          3.1           1.5          0.2
4     4           5.0          3.6           1.4          0.2

### dataframe to sql

#### iris data loading

In [114]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
col = ["sepal_length",  "sepal_width", "petal_length", "petal_width"]
df = pd.DataFrame(iris["data"], columns=col)
df = df.reset_index()
df = df.rename(columns={"index":"idx_"})

#### data insert

In [115]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()

table_name = "iris"
if_exists = "replace"
engine_info = "mysql+mysqldb://{user}:{passwd}@{host}/{db}".format(user = db_info["user"],
                                                                   passwd = db_info["passwd"], 
                                                                   host = db_info["host"],
                                                                   db = db_info["db"])

# db에서 컬럼 조회 후 df 컬럼과 일치하는지 확인

engine = create_engine(engine_info, encoding='utf-8')
conn = engine.connect()

df.to_sql(name=table_name, con=conn, if_exists =if_exists, index=False)

In [ ]:
system_trading
DATA BASE SETTING
MySQL install MySQL Download : https://dev.mysql.com/downloads/ reference : https://withcoding.com/26

DBeaver install DBeaver Download : https://dbeaver.io/download/ 1) connect to database 2) choose MySQL 3) input Database, password, (MySQL default Port : 3306) 4) test connection -> error accrue : dbeaver unable to load authentication plugin 'caching_sha2_password' -> have to change authentication method at MySQL Command Line Client. insert <Alter USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'abc';> (root = user name, abc = password)